@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply transform-gpu overscroll-y-none bg-background font-sans text-onBackground;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .pause-animation {
    animation-play-state: paused;
  }

  .logo-white {
    filter: invert(99%) sepia(53%) saturate(270%) hue-rotate(182deg)
      brightness(95%) contrast(89%);
  }

  .logo-blue {
    filter: invert(35%) sepia(82%) saturate(464%) hue-rotate(173deg)
      brightness(87%) contrast(80%);
  }
}
