@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overscroll-y-none bg-background font-serif text-onBackground;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .pause-animation {
    animation-play-state: paused;
  }
}
